extends template
block content
    div.main
        p Dear #{userName}!
        p
            | Your product
            strong  #{productName}
            |  does not have photo in profile. Please, update product info and add photo