doctype html
html
    head
        style
            include style.css
    body
        div
            div.header
                h3 Node.JS App
            block content
            div.footer
                | Best regards,
                br
                | JavaScript Complex Group
                br
                | October 2019
                br
                a(href=owuUrl) OktenWeb UniversITy