extends template
block content
    div.main
        p Hello, #{userName}!
        p Thank you for creating account in our application. Now you can do anything you want :-)
        a(href=productsLink) Click here
        span  to see the Product list.