<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework 3</title>
</head>
<body>
    <h2>Homework 3</h2>
    <div class="navBar">
        <a href="/" class="navLink">Main page</a>
        <a href="/login" class="navLink">Log in</a>
        <a href="/register" class="navLink">Register</a>
        <a href="/users" class="navLink">Show all users</a>
    </div>
